@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.offers {

    .populars {
        background: v.$b2;
        padding: 50px 20px;
        margin-bottom: 60px;

        @include m.desktop {
            padding: 100px 0 50px 0;
        }

        .populars-mobile {
            @include m.desktop {
                display: none;
            }
        }

        .populars-desktop {
            display: none;

            @include m.desktop {
                display: flex;
                gap: 30px;
                padding: 0 15% 0 15%;
            }
        }

        h4 {
            font-family: v.$archivo;
            font-weight: 500;
            font-size: 14px;
            line-height: 15px;
            letter-spacing: 2.8px;
            text-transform: uppercase;
            color: v.$brown;
            text-align: center;
            margin-bottom: 25px;
        }

        h3 {
            font-family: v.$old;
            font-weight: 400;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: -0.8px;
            color: v.$w;
            text-align: center;
            margin-bottom: 50px;
        }

        .populars__room {
            background: v.$w;

            .populars-img {
                margin-bottom: 55px;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .swiper__contein{
                position: relative;
            }
    
            .rooms-icons {
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 5%;
                padding: 3% 3%;
                background: v.$w;
                box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
                z-index: 75;
                position: absolute;
                bottom: 0;
                top: 90%;
                left: 10.6%;
                right: 10.6%;
                margin-left: auto;
                margin-right: auto;

                @include m.desktop {
                    padding: 6% 6%;
                    bottom: 0;
                    top: 95%;
                    left: 8%;
                    right: 8%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
    
            h5 {
                font-family: v.$old;
                font-weight: 400;
                font-size: 24px;
                line-height: 24px;
                letter-spacing: -0.72px;
                color: v.$b2;
                text-align: center;
                margin-bottom: 16px;
            }
    
            p {
                font-family: v.$roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                text-align: center;
                color: v.$g7;
            }
    
            .room-price {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                margin-top: 15px;
                padding-bottom: 28px;
    
                p {
                    font-family: v.$archivo;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 17px;
                    color: #BDBDBD;
                }
    
                .price {
                    color: v.$brown;
                }
            }
        }
    }
}