@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.offers {
    
    .offers__rooms {
        padding: 50px 20px 60px 20px;

        @include m.desktop {
            padding: 100px 15% 60px 15%; 
        }

        .offers-room {
            margin-bottom: 32px;
            box-shadow: 0px 14px 24px rgba(184, 184, 184, 0.1);

            @include m.desktop {
                box-shadow: none;
            }

            .offers-img {
                position: relative;
                margin-bottom: 16px;

                @include m.desktop {
                    margin-bottom: 0px;
                    z-index: -1;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .offers__rooms-mobile {
                    @include m.desktop {
                        display: none;
                    } 
                }
            }

            .real-price {
                position: absolute;
                bottom: 55px;
                right: 15px;

                font-family: v.$archivo;
                font-weight: 700;
                font-size: 23px;
                line-height: 25px;
                color: v.$brown;

                span {
                    font-size: 11px;
                }

                @include m.desktop {
                    position: static;
                }

            }

            .offers-price {
                position: absolute;
                bottom: 20px;
                right: 15px;

                font-family: v.$archivo;
                font-weight: 700;
                font-size: 30px;
                line-height: 33px;
                color: #DE5777;

                span {
                    font-size: 11px;
                }

                @include m.desktop {
                    position: static;
                }

            }

            h5 {
                padding-left: 20px;
                font-family: v.$archivo;
                font-weight: 700;
                font-size: 14px;
                line-height: 15px;
                letter-spacing: 2.8px;
                text-transform: uppercase;
                color: v.$g7;
                margin-bottom: 12px;
                
            }

            h3 {
                padding-left: 20px;
                width: 90%;
                font-family: v.$old;
                font-weight: 400;
                font-size: 40px;
                line-height: 48px;
                letter-spacing: -1.44px;
                color: v.$b2;
                margin-bottom: 16px;

                @include m.desktop {
                    grid-column: 1/2;
                }
            }

            .offers__rooms-desktop {
                display: none;

                @include m.desktop {
                    display: inline-block;
                    text-align: right;
                    grid-column: 2 / 3;
                    grid-row: 1 / 3;
                }
            }

            .offers-text {
                padding: 0 20px;
                font-family: v.$roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: v.$g7;
                margin-bottom: 25px;

                @include m.desktop {
                    padding: 0 10px 0 20px;
                }
            }

            .offers-list {
                display: flex;
                justify-content: space-between;
                padding: 0px 20px;

                @include m.desktop {
                    justify-content: flex-end;
                    gap: 50px;
                    padding: 0 10px 0 20px;
                }
    
                .items {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin-bottom: 17px;
    
                    p {
                        font-family: v.$roboto;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 18px;
                        color: v.$g7;
                    }
                }
            }

            .btn-offers {
                margin-left: 20px;
                margin-top: 25px;
                padding-bottom: 50px;

                @include m.desktop {
                    padding-bottom: 0px;
                    margin-bottom: 32px;
                }

                a {
                    font-family: v.$archivo;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 15px;
                    letter-spacing: 2.8px;
                    text-transform: uppercase;
                    padding: 22px 56px;
                    color: v.$w;
                    background: v.$brown;
                }
            }

            .offers__content {
                @include m.desktop {
                    border-top: 6px solid v.$brown;
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: -50px;
                    background: v.$w;
                    padding: 60px;

                    display: grid;
                    grid-template-columns: 55% 45%;
                }
            }
        }
    }
}