// Typografia

$archivo: 'Archivo', sans-serif;
$roboto: 'Roboto', sans-serif;
$old: 'Old Standard TT', serif;

// Colores

$b2: #222222;
$w: #FFFFFF;
$b0: #000000;
$b1: #111111;
$b3: #333333;
$brown: #BEAD8E;
$g9: #999999;
$g7: #777777;

